body {
    background-color: #feb73f;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
}

main {
    font-size: 17px;
    height: 100%;
    width: 100%;
}

.cards {
    padding: 30px;
    width: 500px;
    margin: 0px;
    border: 1px solid gainsboro;
    background-color: white;
    font-family: sans-serif;
    transition: all ease 1s;
}


ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#list {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

h2 {
    margin: 0px;
}

li {
    counter-increment: step-counter;
    padding-bottom: 50px;
}

.cards h2::before {
    content: counter(step-counter) ". ";

}

.active {
    padding-right: 60px;
    padding-bottom: 30px;
}

p {
    display: none;
}

.active p {
    display: block;
}